<div class="banner banner-list">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
</div>

<div class="show">
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-flat btn-position" %>
  <ul>
    <div class="list-items">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie">
          <%= image_tag(bookmark.movie.poster_url) %>
          <div class="card-movie-infos">
            <div>
              <h2><%= bookmark.movie.title %>⭐<%= bookmark.movie.rating %></h2>
              <p><%= bookmark.movie.overview %></p>
            </div>
            <div class="card-movie-comment">
              <h2>"<%= bookmark.comment %></h2>
            </div>
            <%= link_to "Delete",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:'card-movie-btn'
            %>
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>
